.footer {
    background-color: #1a1a1a;
    color: #fff;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .footer .footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
  }

  .footer .footer-logo {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
  }

  .footer .footer-links {
    display: flex;
    gap: 20px;
  }

  .footer .footer-links a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
  }

  .footer .footer-links a:hover {
    color: #f5c542;
  }

  .footer .footer-contact {
    & h4 {
        font-size: 18px;
        font-weight: 500;
    }
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: start;
    /* margin-top: 20px; */
  }

  .footer .footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9rem;
  }