.content {
    width: 100%;
    background: white;
    padding: 2rem;
    border-radius: 10px;
}

h3 {
    color: #444;
    margin-top: 30px;
    border-left: 4px solid #3675FC;
    padding-left: 10px;
}

/* ป้ายชื่อ */
label {
    display: block;
    margin: 15px 0 5px;
    font-weight: 500;
}

/* อินพุตและเท็กซ์แอเรีย */
input[type="text"],
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    resize: vertical;
    font-size: 16px;
    transition: border 0.3s ease;
    font-family: 'Prompt', 'serif';
}

textarea {
    margin-top: 15px;
    min-height: 100px;
    max-height: auto;
}

input[type="text"]:focus,
textarea:focus {
    border-color: #3675FC;
    outline: none;
}

/* ปุ่ม */
button[type="submit"] {
    margin-top: 25px;
    width: 100%;
    padding: 12px;
    background-color: #3675FC;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Prompt', 'serif';
}

button[type="submit"]:hover {
    background-color: #2b5bbf;
}