@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
  --color-background-second: #E2CAD8;
  --color-background: #c18db4;
  --color-background-side: #0e1b48;
  --color-white: #ffff;
  --color-black: #0000;
  --color-btn: #8a2be2;
  --color-btn-hover: rgb(98, 43, 226);

  --box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Prompt", "Serif";
  width: 100vw;
  background-color: #D8E1ED;
  user-select: none;
  scrollbar-width: none;
  display: flex;
}

.icon-menu {
  display: none;
}


aside {
  height: 100vh;
  top: 0;
  position: sticky;
  width: 240px;
  background-color: white;
}

aside .sitebar {
  margin: 1rem;
  margin-top: 2rem;
  height: calc(100vh - 150px);
}

aside .sitebar h1 {
  font-weight: 400;
  color: #3675FC;
}

aside .sitebar .list-menu {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  list-style: none;
  gap: 15px;
}

aside .sitebar .list-menu li {
  width: 100%;
  height: 40px;
}

aside .sitebar .list-menu a {
  text-decoration: none;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-left: 1rem;
  gap: 5px;
}

aside .sitebar .list-menu li:first-child {
  padding-left: 1rem;
  display: flex;
  align-items: center;
  color: #B4ABAB;
}

aside .sitebar .list-menu li:last-child {
  margin-top: auto;

  & a {
    color: #FA0000;
  }
}




main {
  width: 100%;
  margin: 2rem;
  display: grid;
  grid-template-columns: 1fr 300px;

  & h1 {
    font-weight: 500;
    color: #3675FC;
    font-size: 22px;
  }
}

main .info {
  margin-top: 1rem;
  width: 100%;
  margin-right: 2rem;
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
}

main .info .card-info {
  width: 100%;
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 1px 4px -1px #636363;
}

main .compare-lessons {
  width: 100%;
  height: auto;
  background-color: white;
  margin-top: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 1px 4px -1px #636363;
  padding: 1rem;
}

main .compare-practices {
  width: 100%;
  height: auto;
  background-color: white;
  margin-top: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 1px 4px -1px #636363;
  padding: 1rem;
}

#testChart {
  width: 100% !important;
  height: 500px !important;
}

#practiceChart {
  width: 100% !important;
  height: 500px !important;
}

.education {
  background-color: white;
  padding: 1.5rem;
  margin-top: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 1px 4px -1px #636363;
}

main .right {
  width: 100%;
  height: 100vh;
  padding: 2rem 0 2rem 2rem;
}

main .right .card-top {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 1px 4px -1px #636363;

  & h4 {
    font-weight: 400;
  }

  & p {
    font-size: 14px;
  }
}

main .right .card-online {
  background-color: white;
  margin-top: 1.5rem;
  padding: 1rem;
  height: auto;
  box-shadow: 0 1px 4px -1px #636363;
  border-radius: 10px;
  max-height: 300px;
  overflow-y: auto;

  & h4 {
    font-weight: 400;
    margin-bottom: 1rem;
  }

  & p {
    font-size: 12px;
  }
}

.card-gender {
  background-color: white;
  width: 100%;
  margin-top: 1.5rem;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 1px 4px -1px #636363;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;

  & h4 {
    font-weight: 400;
    width: 100%;
  }
}

#genderChart {
  width: 200px !important;
  height: auto !important;
}

.card-vipassana {
  background-color: white;
  width: 100%;
  margin-top: 1.5rem;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 1px 4px -1px #636363;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;

  & h4 {
    font-weight: 400;
    width: 100%;
  }
}

.chart-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.chart {
  width: 150px;
  height: 150px;
  position: relative;
}

.chart .circle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: conic-gradient(var(--color) var(--percent),
      #e0e0e0 var(--percent));
}

.chart .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.chart .content h3 {
  margin: 0;
  font-size: 1.2rem;
  font-weight: bold;
  color: black;
}

.chart .content p {
  margin: 0;
  font-size: 0.9rem;
  color: black;
}



.gender {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.education {
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

#educationChart {
  width: 80% !important;
  height: auto !important;
}

.vipassana-lesson {
  display: grid;
  grid-template-columns: 1fr 30%;
}

#scoreChart {
  width: 400px !important;
}

.top-progress {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

/* Mobile เล็กมาก */
@media (max-width: 480px) {
  body {
    display: flex;
    flex-direction: column;
  }

  aside {
    width: 100%;
    height: auto;
    position: relative;;
  }

  aside .sitebar {
    height: auto;
    margin: 1rem;
  }

  aside .sitebar .icon {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .icon-menu {
    display: block;
  }

  .icon-menu {
    position: relative;

    & i {
      font-size: large;
    }
  }

  aside .menu {
    position: absolute;
    width: 100%;
    display: none;
    background-color: white;
    left: 0;
    padding: 2rem 1rem;
  }
  
  aside .sitebar .list-menu {
    margin-top: 0;
  }
  
  aside .menu.active {
    position: absolute;
    display: block;
    z-index: 100;
  }

  main {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    align-items: center;
    padding: 0 1rem;
  }

  .container {
    padding-top: 1rem;
  }

  main .info {
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    margin-right: 0;
    ;
  }

  main .info .card-info {
    padding: 1rem;
    margin-right: 0;

    & p {
      width: auto;
    }
  }

  .top-progress {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  main .compare-lessons {
    width: 100%;
    height: auto;
    padding: 1rem;
  }

  .education {
    margin-top: 1rem;
    padding: 1rem;
  }

  main .right {
    padding: 0;
    margin: 1rem;
  }

  main .right .card-top {
    margin-top: 0;
    display: none;
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 991px) {
  .icon-menu {
    display: none;
  }
  main {
    display: flex;
    flex-direction: column;
  }
  .top-progress {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .education {
    margin-top: 0;
    padding: 0;
  }
  main .right {
    padding: 0;
  }
  .card-gender {
    height: 380px;
  }
  #genderChart {
    width: 400px !important;
    height: auto !important;
  }
}
